body {
  background-color: rgb(189, 189, 189);
  font-family: 'Poly', serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main-gameplay-window {
  border: 2px solid black;
  border-radius: 9px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.player-offense-board-container,
.player-defense-board-container {
  margin: 10px;
  background-color: slategray;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 9px;
  box-sizing: border-box;
}

.grid-area {
  height: 280px;
  width: 280px;
  display: grid;
  background-color: white;
  border: 2px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
  box-sizing: border-box;
  border: 0.1px solid black;
  height: 28px;
  width: 28px;
}
