/*  */
/*  */
/* LAYOUT */
/*  */
/*  */

body {
  animation: water 0.9s infinite alternate;
  font-family: 'Poly', serif;
}

.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main,
.header,
.header-text,
.square {
  display: flex;
  align-items: center;
}

.main,
.header,
.square {
  flex-direction: column;
}

.main,
.header-text,
.square {
  justify-content: center;
}

.header-text {
  text-shadow: 1.3px 1.3px 1px black;
  height: 5vh;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 7px;
  opacity: 0.7;
  text-align: center;
  color: #00a935;
  font-size: 17pt;
  animation: glow 0.9s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 1.7px 1.7px 1px black;
    color: #14dd54;
  }
  to {
    text-shadow: 2px 2px 1px black;
    color: #119a3c;
  }
}

.grid-area {
  height: 280px;
  width: 280px;
  display: grid;
  background-color: white;
  grid-auto-flow: column;
  direction: rtl;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
  box-sizing: border-box;
  border: 1.7px solid black;
  border-radius: 2px;
  height: 28px;
  width: 28px;
}

/*  */
/*  */
/* SETUP */
/*  */
/*  */

.container-for-setup,
.drag-container,
.drag-container-horizontal,
.occupied-square-setup,
.dummy-ship-horizontal,
.player-offense-board-container,
.player-defense-board-container,
.play-again,
.main-gameplay-window {
  display: flex;
}

.drag-container,
.drag-container-horizontal,
.occupied-square-setup,
.player-offense-board-container,
.player-defense-board-container {
  align-items: center;
}

.drag-container,
.drag-container-horizontal,
.occupied-square-setup,
.player-offense-board-container,
.player-defense-board-container,
.play-again {
  justify-content: center;
}

.occupied-square-setup,
.player-offense-board-container,
.player-defense-board-container {
  box-sizing: border-box;
}

.drag-container,
.drag-container-horizontal {
  border-radius: 90px;
  margin: 2vw;
}

.drag-container {
  width: 25vw;
  flex-direction: column;
}

.drag-container-dropped {
  border: 10px solid red;
}

.occupied-square-setup {
  border: 1.7px solid black;
  border-radius: 2px;
  height: 28px;
  width: 28px;
  flex-direction: column;
  background-color: black;
  border-radius: 5px;
}

.empty-peg-setup {
  background-color: rgb(161, 157, 157);
  height: 14px;
  width: 14px;
  border-radius: 90px;
}

.dummy-ship-vertical,
.dummy-ship-horizontal {
  border-radius: 5px;
  background-color: rgb(177, 183, 189);
  border: 2px solid rgb(177, 183, 189);
  cursor: pointer;
}

.dummy-ship-horizontal {
  flex-direction: row-reverse;
}

.hold {
  background-color: rgba(211, 211, 211, 0.737);
  border: 1px dashed black;
  box-shadow: 1px 1px 1px black;
}

.hover {
  background-color: whitesmoke;
  border: 3px dotted black;
}

.invisible {
  display: none;
}

.test {
  background-color: hotpink;
}

/*  */
/*  */
/* GAMEPLAY */
/*  */
/*  */

.main-gameplay-window {
  border: 2px solid black;
  border-radius: 9px;
  flex-direction: column;
  background-color: slategray;
  box-shadow: 1px 1px 3px black;
}

.player-offense-board-container,
.player-defense-board-container {
  margin: 10px;
  background-color: rgb(177, 183, 189);
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 9px;
}

.occupied-square {
  background-color: black;
}

.empty-peg {
  background-color: rgb(65, 59, 59);
  height: 14px;
  width: 14px;
}

.unhit-peg,
.hit-peg,
.empty-peg {
  border-radius: 90px;
}

.unhit-peg,
.hit-peg {
  height: 12px;
  width: 12px;
}

.unhit-peg {
  border: 1px solid rgb(50, 43, 43);
  animation: gray 0.9s infinite alternate;
}

.hit-peg {
  border: 0.7px solid rgb(78, 72, 72);
  box-shadow: 1px 1px 1px rgba(24, 64, 59, 0.687);
  animation: fiery 0.9s infinite alternate;
}

@keyframes fiery {
  from {
    background-color: rgb(253, 85, 85);
  }
  to {
    background-color: rgb(242, 62, 62);
  }
}

@keyframes gray {
  from {
    background-color: rgba(57, 105, 201, 0.684);
  }
  to {
    background-color: rgba(12, 69, 203, 0.369);
  }
}

@keyframes water {
  from {
    background-color: rgba(38, 87, 184, 0.684);
  }
  to {
    background-color: rgba(19, 77, 191, 0.684);
  }
}

/*  */
/*  */
/* WIN CONDITION */
/*  */
/*  */

.play-again {
  text-shadow: 1.3px 1.3px 1px black;
  height: 4vh;
  font-style: italic;
  width: 160px;
  border-radius: 10px;
  margin-bottom: 7px;
  opacity: 0.7;
  text-align: center;
  color: #67b780;
  font-size: 17pt;
  animation: glow 0.9s infinite alternate;
  animation: water 0.9s infinite alternate;
}
